.idea/
.vscode/
__pycache__/
imprimis_ws/build/
imprimis_ws/install/
imprimis_ws/log/
build/
install/
log/
imprimis_ws/src/build/
imprimis_ws/src/install/
imprimis_ws/src/log/
imprimis_ws/src/map.pcd
imprimis_ws/src/pose_graph.g2o

