<?xml version="1.0"?>
<!-- Basic differential drive mobile base -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="diffdrive_robot">
  <xacro:arg name="hardware_type" default="real" />

  <!-- Import and expand core robot description -->
  <xacro:include filename="$(find imprimis_description)/urdf/diffbot_description.urdf.xacro" />
  <xacro:diffbot/>

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find imprimis_description)/urdf/diffbot.materials.xacro" />

  <!-- Import and expand diffbot ros2_control description -->
  <xacro:include filename="$(find imprimis_description)/urdf/diffbot.ros2_control.xacro" />
  <xacro:diffbot_ros2_control name="DiffBot" hardware_type="$(arg hardware_type)"/>

  <!-- Import gazebo information -->
  <xacro:include filename="$(find imprimis_description)/urdf/gazebo_info.xacro"/>

</robot>
