<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="diffbot_ros2_control" params="name hardware_type">

    <ros2_control name="${name}" type="system">

      <!-- Real hardware -->
      <xacro:if value="${hardware_type == 'real'}">
        <hardware>
          <plugin>imprimis_hardware_platform/DiffBotSystemHardware</plugin>
          <param name="example_param_hw_start_duration_sec">0</param>
          <param name="example_param_hw_stop_duration_sec">3.0</param>
        </hardware>
      </xacro:if>

      <!-- Fake hardware-->
      <xacro:if value="${hardware_type == 'fake'}">
        <hardware>
          <plugin>mock_components/GenericSystem</plugin>
          <param name="calculate_dynamics">true</param>
        </hardware>
      </xacro:if>

    
      <!-- Gazebo-simulated Hardware -->
      <xacro:if value="${hardware_type == 'simulated'}">
        <hardware>
          <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
      </xacro:if>

      <!-- Joint definitions -->
      <joint name="left_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="right_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <!-- Arbitrary state interfaces (GPIOs)-->
      <gpio name="imprimis_data">
        <command_interface name="dummy_gpio_cmd"/>
        <state_interface name="imuHeading"/>
        <state_interface name="manualMode"/>
        <state_interface name="boardBConnected"/>
        <state_interface name="gpsFix"/>
        <state_interface name="gpsLat"/>
        <state_interface name="gpsLong"/>
        <state_interface name="gpsAlt"/>
        <state_interface name="gpsHdop"/>
      </gpio>
    </ros2_control>

  </xacro:macro>

</robot>
