<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Make the wheels black and have lots of friction -->
  <gazebo reference="left_wheel">
    <material>Gazebo/Black</material>
    <mu1 value="6.0"/>
    <mu2 value="6.0"/>
  </gazebo>
  <gazebo reference="right_wheel">
    <material>Gazebo/Black</material>
    <mu1 value="6.0"/>
    <mu2 value="6.0"/>
  </gazebo>

  <!-- Make the caster wheel white and have no friction -->
  <gazebo reference="caster_sphere">
    <material>Gazebo/White</material>
    <mu1 value="0.0001"/>
    <mu2 value="0.0001"/>
  </gazebo>

  <!-- Make the lidar pole gray-->
  <gazebo reference="lidar_pole">
    <material>Gazebo/Gray</material>
  </gazebo>

  
  <!-- This will publish the joint states of the wheels in the simulation-->
  <gazebo>
    <plugin name="gazebo_ros_joint_state_publisher" filename="libgazebo_ros_joint_state_publisher.so">
      <update_rate>50</update_rate>
      <joint_name>left_wheel_joint</joint_name>
      <joint_name>right_wheel_joint</joint_name>
    </plugin>
  </gazebo>

  <!-- This is the ros2 control gazebo plugin -->
  <gazebo>
    <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
      <parameters>$(find imprimis_hardware_platform)/config/sim_diffbot_controllers.yaml</parameters>
    </plugin>
  </gazebo>


</robot>
